<br>
<%=Restaurant.find_by_id(@menu.restaurant_id).name%>: <br>
Menu: <br>
<h6><%=@menu.season%></h6>

  <% if current_user.categories.find{|c| c[:text]=="owner"} %>
  <% @menu.items.each do |item| %>
  <%= item.product %> <br>
  <%= item.desc %> <br>
  <%= item.price %> <br>

  	<%= link_to "Delete item", menu_item_path(@menu,item), :confirm => "Delete?", :method => :delete %> <br>
  	<% end %>
  	<% end %>
  	 <% if current_user.categories.find{|c| c[:text]=="owner"} %>
  	<br><%=link_to "New Item", new_menu_item_path(@menu) %><br><br>
  	<%= link_to "Back to Restaurant", @rest %>
  	<% end %>
  

  
  <% if current_user.categories.find{|c| c[:text]=="ruser"} %>
  <% @menu.items.each do |item| %>
  <%= item.product %> <br>
  <%= item.desc %> <br>
  <%= item.price %> <br>
  	<%= link_to "Order", "/users/#{current_user.id}/#{@rest.id}/#{@menu.id}/#{item.id}" %> <br>

  <% end %>
  <br>
  <p>Your current order: <% @order.items.each do |item| %>
  	                      <%= item.product %> | Price: <%= item.price %> | Quantity: <%= item.quantity %>
  	                     <% end %>
  <% end %>
  


<br>
<%= link_to "Home", current_user %>
