<h1><%=current_user.name%></h1>
<p>You are an <% current_user.categories[0..-1].each do |c| %>
	<%= c.text %> | <br>
<% end %>
</p>
<% if current_user.categories.find{|c| c[:text]=="owner"} %>
	<p> Add a <%= link_to "restaurant", new_restaurant_path %> </p> 
	<p> My restuarants </p>
	<% @restaurantsown.each do |r| %>
	<%=r.name %> | <%=r.opentime %>-----<%= r.closetime %> | Tables size: <%=r.tablesize %> | Num of tables: <%=r.tables %> | Number of seats: <%= r.totalsize %> | <%= r.address%> | <%=link_to "edit this guy", edit_restaurant_path %> | <%=link_to "Delete", restaurant_path(r), :confirm => "Delete?", :method => :delete %><br>
	Dates available: <% r.moments.each do |m| %>
	                  <%=m.date%>
	                 	 <% m.slots.each do |time| %>
	                 		<%= time.tock.strftime("%H:%M") %> = <%=time.seats%><br>
	                 	<% end %>
	                 <% end %>
	                <br>

	<% end %>
<% end %>
	<%= current_user.categories.find{|c| c[:text]=="ruser"}  %>
<% if current_user.categories.find{|c| c[:text]=="ruser"} %>
	<p> Add reservation to one of the restaurants below: </p>
	<% @restaurants.each do |r| %>
	<%=r.name %> | <%=r.opentime %>-----<%= r.closetime %> | Number of seats: <%=r.totalsize %> | <%= r.address%> <br>
	Dates available: 
		<% r.moments.each do |m| %>
	        <%=m.date%><br>

  			<% m.slots.each do |time| %>
    			<%= time.tock.strftime("%H:%M") %> = <%=time.seats%><br>
  			<% end %><br><br>
		<% end %>
		<%= link_to "Make a reservation", "/users/#{current_user.id}/join/#{r.id}" %> || <%= link_to "Or rate this place", "/users/#{current_user.id}/#{r.id}/rate" %> <br>

	Rating by <%= r.raters %> customers is: <%=r.rating %> out of a possible 5 <br>
	<% end %><br> 
	


	
	My Reservatons: <br>
	<% @reservations.each do |rev| %>
	<%= Restaurant.find_by_id(rev.restaurant_id).name %> on <%=rev.day%> at <%=rev.hour %> for <%=rev.numberofseats%> | <%=link_to "Delete", user_reservation_path(current_user,rev), :confirm => "Delete?", :method => :delete %><br><br>
	<% Restaurant.find_by_id(rev.restaurant_id).moments.each do |m| %>
	        <%=m.date%><br>

  			<% m.slots.each do |time| %>
    			<%= time.tock.strftime("%H:%M") %> = <%=time.seats%><br>
  			<% end %><br><br>
		<% end %>
	<% end %> 

<% end %>


<!-- should refactor to only display restaurants that are not in the reservations in controller -->

