<h1><%=current_user.name%></h1>
<p>You are an <% current_user.categories[0..-1].each do |c| %>
	<%= c.text %> <br>
<% end %>
</p>
<% if current_user.categories.find{|c| c[:text]=="owner"} %>

	<h2> My restaurants </h2>
	

 	<ul class="large-block-grid-3"><% @restaurantsown.each do |r| %>
 		<li><h5><%=r.name %></h5>
  		Hours of Operation: <%=r.opentime.strftime("%H:%M") %>-----<%= r.closetime.strftime("%H:%M") %> <br>
	Tables size: <%=r.tablesize %> <br>
	Number of tables: <%=r.tables %> <br>
	Total seats: <%= r.totalsize %> <br>
	Address: <%= r.address%> <br> 
	<%= link_to "Time slots available for reservation", "/users/#{r.id}/time" %><br>
	<%= link_to "Reservations", "/users/#{r.id}/reserve" %><br>
	<%=link_to "Edit Restaurant", edit_restaurant_path(r) %> | <%=link_to "Delete Restaurant", restaurant_path(r), :confirm => "Delete?", :method => :delete %></li>
	<% end %>
	<li> <p> <%= link_to "Add a new restaurant", new_restaurant_path, class: "button radius" %> </p> </li>
	</ul>

 
	
<% end %>

	
<% if current_user.categories.find{|c| c[:text]=="ruser"} %>
	<p> Add reservation to one of the restaurants below: </p>
	<% @restaurants.each do |r| %>
	<%=r.name %> | <%=r.opentime %>-----<%= r.closetime %> | Number of seats: <%=r.totalsize %> | <%= r.address%> <br>
	Dates available: 
		<% r.moments.each do |m| %>
	        <%=m.date%><br>

  			<% m.slots.each do |time| %>
    			<%= time.tock.strftime("%H:%M") %> = <%=time.seats%><br>
  			<% end %><br><br>
		<% end %>
		<%= link_to "Make a reservation", "/users/#{current_user.id}/join/#{r.id}" %> || <%= link_to "Or rate this place", "/users/#{current_user.id}/#{r.id}/rate" %> <br>

	Rating by <%= r.raters %> customers is: <%=r.rating %> out of a possible 5 <br>
	<% end %><br> 
	


	
	My Reservatons: <br>
	<% @reservations.each do |rev| %>
	<%= Restaurant.find_by_id(rev.restaurant_id).name %> on <%=rev.day%> at <%=rev.hour %> for <%=rev.numberofseats%> | <%=link_to "Delete", user_reservation_path(current_user,rev), :confirm => "Delete?", :method => :delete %><br><br>
	<% Restaurant.find_by_id(rev.restaurant_id).moments.each do |m| %>
	        <%=m.date%><br>

  			<% m.slots.each do |time| %>
    			<%= time.tock.strftime("%H:%M") %> = <%=time.seats%><br>
  			<% end %><br><br>
		<% end %>
	<% end %> 

<% end %>


<!-- should refactor to only display restaurants that are not in the reservations in controller -->

