<%= form_for @restaurant do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @restaurant.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <div class="field">
    <%= f.label :opentime %><br/>
    <%= f.datetime_field :opentime %>
  </div>
  </div>
  <div class="field">
    <div class="field">
    <%= f.label :closetime %><br/>
    <%= f.datetime_field :closetime %>
  </div>
  </div>
  <div class="field">
    <%= f.label :address %><br/>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :tables %><br/>
    <%= f.text_field :tables %>
  </div>
  <div class="field">
    <%= f.label :tablesize %><br/>
    <%= f.number_field :tablesize %>
  </div>
  <div class="field">
  <p> Days open: </p>

  <%= check_box_tag(:Monday) %>
  <%= label_tag(:Monday, "Monday") %>
  <%= check_box_tag(:Tuesday) %>
  <%= label_tag(:Tuesday, "Tuesday") %>
  <%= check_box_tag(:Wednesday) %>
  <%= label_tag(:Wednesday, "Wednesday") %>
  <%= check_box_tag(:Thursday) %>
  <%= label_tag(:Thursday, "Thursday") %>
  <%= check_box_tag(:Friday) %>
  <%= label_tag(:Friday, "Friday") %>
  <%= check_box_tag(:Saturday) %>
  <%= label_tag(:Saturday, "Saturday") %>
  <%= check_box_tag(:Sunday) %>
  <%= label_tag(:Sunday, "Sunday") %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>

<%= link_to "Home", user_path(current_user) %>